.btn {
    padding: 0.3rem 0.2rem;
    font-size: 1rem;
    background-color: rgb(124, 179,66);
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.btn-add {
    width: 60%;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid rgb(124, 179,66);
    color: rgb(124, 179,66)
}

