.cart-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr repeat(3, minmax(min-content, 100px));
    grid-auto-rows: auto;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
    font-size: 1.2rem;
}  

.bold {
    font-weight: 600;
    width: max-content;
}
.quantity, .price {
    font-size: 1rem;
}

.quantity {
    grid-column: 3/4;
    font-size: 1rem;
}

.line {
    grid-column: 1/-1;
    width: 100%;
    border-bottom: 1.5px solid var(--dark-gray);
}

.bottom-line {
    margin-bottom: 1rem;
}

.total {
    grid-column: 2/3;
   justify-self: end;
}

.total-check-container{
    grid-column: 4/6;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border:  1px solid var(--primary-green);
    padding: 1rem 1.5rem;
    background-color: var(--light-gray);
}

