.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid rgb(94, 92, 92);
    box-sizing: border-box;
}

.logo {
    width: 3rem;
}
.title {
    font-size: 1.5rem;
    color: rgb(94, 92, 92);
}