.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5% 2%;
    border-bottom: 1.5px solid var(--dark-gray);
    box-sizing: border-box;
}

.logo {
    width: 3rem;
}
.title {
    font-size: 2rem;
    color: var(--dark-gray);
    padding: 0 1rem;
}

.nav-bar {
    margin-left: auto;
    display: flex;
}

.nav-bar-item {
    cursor: pointer;
    text-decoration: none;
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease; 
    align-content: center;
}
.nav-bar-item:hover {
    background-color: var(--light-gray); 
}

.nav-bar-cart {
    width: 2.5rem;

}