.cart-item {
    grid-column: 1/6;
    display: grid;
    grid-template: 1fr/ 20% 1fr repeat(3, minmax(min-content, 0.5fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(247, 249, 250);;

  
}
.img {
    width: 70%;
    padding: 1rem;
}
.name {
    grid-column: 2/3;
}

.btn-del {
    height: 25%;
    padding: 0;
    background: transparent;
    border: none;
}
.del-icon {
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.del-icon:hover {
    content: url('../../../../public/assets/delete_green.svg');
}
