:root {
    --dark-gray: rgb(94, 92, 92);
    --light-gray: rgb(247, 249, 250);
    --primary-green: rgb(124, 179,66);
    --radius: 5px;


}
* {
    box-sizing: border-box;
    color:rgb(94, 92, 92);
}

/* .app-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
} */